{-# LANGUAGE FlexibleContexts, TypeFamilies #-}

module $modulename where

import Common
import Control.Monad
import Data.List (zipWith, zipWith3)

import GHCJS.Types

import Diagrams.Prelude
import Diagrams.Backend.GHCJS

$code
